body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-image {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover; 
  z-index: -1; 
}

.container {
  position: relative; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  min-height: 100vh;
  color: #0a4f0c;; 
  text-align: center;
  padding: 20px; 
  z-index: 1; 
}

button {
  background-color: #4CAF50; 
  color: white; 
  border: 2px solid #4CAF50; 
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; 
  border-color: #062f08; 
}